@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/Forum.woff2') format('woff2'),
    url('assets/fonts/Forum.ttf') format('ttf'),
    url('assets/fonts/Forum.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/FuturaPT-Light.woff2') format('woff2'),
    url('assets/fonts/FuturaPT-Light.ttf') format('ttf'),
    url('assets/fonts/FuturaPT-Light.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/FuturaPT-Book.woff2') format('woff2'),
    url('assets/fonts/FuturaPT-Book.ttf') format('ttf'),
    url('assets/fonts/FuturaPT-Book.woff') format('woff');
}
@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/FuturaPT-Medium.woff2') format('woff2'),
    url('assets/fonts/FuturaPT-Medium.ttf') format('ttf'),
    url('assets/fonts/FuturaPT-Medium.woff') format('woff');
}